In [ ]:
!pip install -qq --upgrade pip
!pip install -qq --upgrade transformers accelerate bitsandbytes peft datasets
!pip install oxenai

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 60.5 MB/s eta 0:00:00
WARNING: Attempting to resume incomplete download (37.9 MB/59.4 MB, attempt 1)
Collecting oxenai
  Downloading oxenai-0.39.1-cp312-cp312-manylinux_2_34_x86_64.whl.metadata (2.8 kB)
Requirement already satisfied: fsspec>=2025.3.0 in /usr/local/lib/python3.12/dist-packages (from oxenai) (2025.3.0)
Collecting maturin>=1.9.3 (from oxenai)
  Downloading maturin-1.10.2-py3-none-manylinux_2_12_x86_64.manylinux2010_x86_64.musllinux_1_1_x86_64.whl.metadata (16 kB)
Collecting pandas>=2.3.1 (from oxenai)
  Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting polars>=1.32.0 (from oxenai)
  Downloading polars-1.35.2-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pyarrow>=21.0.0 in /usr/local/lib/python3.12/dist-packages (from oxenai) (22.0.0)
Requirement already satisfied: pytest>=8.4.1 in /usr/local/lib/python3.12/dist-packages (from oxenai) (8.4.2)
Collecting pytest-datadir>=1.8.0 (from oxenai)
  Downloading pytest_datadir-1.8.0-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: requests>=2.32.4 in /usr/local/lib/python3.12/dist-packages (from oxenai) (2.32.4)
Requirement already satisfied: ruff>=0.12.7 in /usr/local/lib/python3.12/dist-packages (from oxenai) (0.14.4)
Requirement already satisfied: toml>=0.10.2 in /usr/local/lib/python3.12/dist-packages (from oxenai) (0.10.2)
Requirement already satisfied: tqdm>=4.67.1 in /usr/local/lib/python3.12/dist-packages (from oxenai) (4.67.1)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.3.1->oxenai) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.3.1->oxenai) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.3.1->oxenai) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.3.1->oxenai) (2025.2)
Collecting polars-runtime-32==1.35.2 (from polars>=1.32.0->oxenai)
  Downloading polars_runtime_32-1.35.2-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.5 kB)
Requirement already satisfied: iniconfig>=1 in /usr/local/lib/python3.12/dist-packages (from pytest>=8.4.1->oxenai) (2.3.0)
Requirement already satisfied: packaging>=20 in /usr/local/lib/python3.12/dist-packages (from pytest>=8.4.1->oxenai) (25.0)
Requirement already satisfied: pluggy<2,>=1.5 in /usr/local/lib/python3.12/dist-packages (from pytest>=8.4.1->oxenai) (1.6.0)
Requirement already satisfied: pygments>=2.7.2 in /usr/local/lib/python3.12/dist-packages (from pytest>=8.4.1->oxenai) (2.19.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=2.3.1->oxenai) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.32.4->oxenai) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.32.4->oxenai) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.32.4->oxenai) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.32.4->oxenai) (2025.10.5)
Downloading oxenai-0.39.1-cp312-cp312-manylinux_2_34_x86_64.whl (45.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.2/45.2 MB 8.3 MB/s  0:00:05
Downloading maturin-1.10.2-py3-none-manylinux_2_12_x86_64.manylinux2010_x86_64.musllinux_1_1_x86_64.whl (9.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.2/9.2 MB 54.5 MB/s  0:00:00
Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 81.4 MB/s  0:00:00
Downloading polars-1.35.2-py3-none-any.whl (783 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 783.6/783.6 kB 43.8 MB/s  0:00:00
Downloading polars_runtime_32-1.35.2-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (41.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.3/41.3 MB 42.9 MB/s  0:00:00
Downloading pytest_datadir-1.8.0-py3-none-any.whl (6.5 kB)
Installing collected packages: polars-runtime-32, maturin, pytest-datadir, polars, pandas, oxenai
  Attempting uninstall: polars
    Found existing installation: polars 1.31.0
    Uninstalling polars-1.31.0:
      Successfully uninstalled polars-1.31.0
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6/6 [oxenai]
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 2.3.3 which is incompatible.
cudf-polars-cu12 25.10.0 requires polars<1.33,>=1.28, but you have polars 1.35.2 which is incompatible.
Successfully installed maturin-1.10.2 oxenai-0.39.1 pandas-2.3.3 polars-1.35.2 polars-runtime-32-1.35.2 pytest-datadir-1.8.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM, BitsAndBytesConfig, TextStreamer
from oxen import RemoteRepo
import oxen
from peft import PeftModel, PeftConfig

In [ ]:
from google.colab import userdata
oxen_key = userdata.get('oxen_key') # OxenAI API key
huggingface_key = userdata.get('huggingface_key') # Huggingface API key

from oxen.auth import config_auth
config_auth(oxen_key)

from huggingface_hub import login
login(token=huggingface_key, new_session=False)

# Choose the type of finetuned model you want to load

## Load full finetuned model

In [ ]:
def load_fine_tuned(model_name, version=None):
    print(f"Loading fine-tuned model from Hugging Face: {model_name}, revision={version}")

    model = AutoModelForCausalLM.from_pretrained(
        model_name,
        revision=version,
        device_map="auto",
        torch_dtype=torch.bfloat16 if torch.cuda.is_available() else torch.float32,
        use_safetensors=True
    )

    tokenizer = AutoTokenizer.from_pretrained(
        model_name,
        use_fast=True
    )

    return model, tokenizer

## Load base model

In [ ]:
def load_base_model(model_name):
    print(f"Loading base model: {model_name}")
    model = AutoModelForCausalLM.from_pretrained(
        model_name,
        torch_dtype="auto",
        device_map="auto"
    )
    tokenizer = AutoTokenizer.from_pretrained(model_name)
    return model, tokenizer

## Load model

In [ ]:
base_model="Qwen/Qwen3-0.6B"
dataset_type = "SingleTable" # Don't change this value
model_name_single_table = "ZiDuck/Qwen3-0.6B-Text2SQL"
model_name_bird = "ZiDuck/SFT-Qwen3-0.6B-Text2SQL-MiniBIRD"
mode = "base" # peft | fine_tune | base


model_name = model_name_single_table if dataset_type == "SingleTable" else model_name_bird
if "fine_tune" == mode:
    model, tokenizer = load_fine_tuned(model_name)
elif "peft" == mode:
    # model, tokenizer = load_peft_model(model_repo_name, version, base_model, checkpoint=checkpoint)
    print("not_support")
elif "base" == mode:
    model, tokenizer = load_base_model(base_model)
    print("not_support")
else:
    print(f"Unknown mode: {mode}")

model

Loading base model: Qwen/Qwen3-0.6B
not_support

Qwen3ForCausalLM(
  (model): Qwen3Model(
    (embed_tokens): Embedding(151936, 1024)
    (layers): ModuleList(
      (0-27): 28 x Qwen3DecoderLayer(
        (self_attn): Qwen3Attention(
          (q_proj): Linear(in_features=1024, out_features=2048, bias=False)
          (k_proj): Linear(in_features=1024, out_features=1024, bias=False)
          (v_proj): Linear(in_features=1024, out_features=1024, bias=False)
          (o_proj): Linear(in_features=2048, out_features=1024, bias=False)
          (q_norm): Qwen3RMSNorm((128,), eps=1e-06)
          (k_norm): Qwen3RMSNorm((128,), eps=1e-06)
        )
        (mlp): Qwen3MLP(
          (gate_proj): Linear(in_features=1024, out_features=3072, bias=False)
          (up_proj): Linear(in_features=1024, out_features=3072, bias=False)
          (down_proj): Linear(in_features=3072, out_features=1024, bias=False)
          (act_fn): SiLUActivation()
        )
        (input_layernorm): Qwen3RMSNorm((1024,), eps=1e-06)
        (post_attention_layernorm): Qwen3RMSNorm((1024,), eps=1e-06)
      )
    )
    (norm): Qwen3RMSNorm((1024,), eps=1e-06)
    (rotary_emb): Qwen3RotaryEmbedding()
  )
  (lm_head): Linear(in_features=1024, out_features=151936, bias=False)
)

# Evaluation

In [ ]:
import re

def remove_think_block(text: str) -> str:
    text = re.sub(r"<think>.*?</think>", "", text, flags=re.DOTALL)
    return text.strip()

In [ ]:
# For Single Table Dataset
def predictSingleTable(tokenizer: AutoTokenizer, model: AutoModelForCausalLM, sample: dict):
    system_prompt = """Write a SQL statement that is equivalent to the natural language user query below. You are given the schema in the format of a CREATE TABLE SQL statement. Assume the table is called "df". DO NOT give any preamble or extra characters or markdown just the SQL query in plain text. Make sure the SQL query is on one line."""
    user_prompt = f"Schema:\n{sample['schema']}\n\nUser Query:\n{sample['query']}\n\nSQL Query:\n"

    messages = [
        {"role": "system", "content": system_prompt},
        {"role": "user", "content": user_prompt}
    ]
    text = tokenizer.apply_chat_template(
        messages,
        tokenize=False,
        add_generation_prompt=True,
        enable_thinking=False
    )
    model_inputs = tokenizer([text], return_tensors="pt").to(model.device)

    streamer = TextStreamer(tokenizer)
    generated_ids = model.generate(
        **model_inputs,
        max_new_tokens=1024,
        # streamer=streamer
    )
    generated_ids = [
        output_ids[len(input_ids):] for input_ids, output_ids in zip(model_inputs.input_ids, generated_ids)
    ]

    response = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]

    return text, response

In [ ]:
# For BIRD minidev Dataset
def predictBIRD(tokenizer: AutoTokenizer, model: AutoModelForCausalLM, sample: dict):
    system_prompt = """Task Overview:
You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine:
SQLite"""

    user_prompt = f"""Database Schema:
{sample['schema']}
This schema describes the database's structure, including tables, columns, primary keys, foreign keys, and any relevant relationships or constraints.

Question:
{sample['query']}

Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- Do NOT hallucinate: only use tables, columns, and values that exist in the provided schema.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Keep the SQL minimal: no extra joins, filters, grouping, ordering, or aliases unless required.
- DO NOT give any preamble or extra characters or markdown, just the SQL query in plain text on a single line with no line breaks or indentation. DO NOT use any code fences or the substring ```sql in the output.
- Take a deep breath and think step by step to find the correct SQL query.

SQL Query:"""

    messages = [
        {"role": "system", "content": system_prompt},
        {"role": "user", "content": user_prompt}
    ]

    text = tokenizer.apply_chat_template(
        messages,
        tokenize=False,
        add_generation_prompt=True,
        enable_thinking=True
    )
    model_inputs = tokenizer([text], return_tensors="pt").to(model.device)

    streamer = TextStreamer(tokenizer)
    generated_ids = model.generate(
        **model_inputs,
        max_new_tokens=1024,
        # streamer=streamer
    )
    generated_ids = [
        output_ids[len(input_ids):] for input_ids, output_ids in zip(model_inputs.input_ids, generated_ids)
    ]

    raw_response = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]
    response = remove_think_block(raw_response)

    return text, response

In [ ]:
import pandas as pd

def evaluate(
    model,
    tokenizer,
    version,
    repo_name,
    repo_branch,
    repo_file,
    predict,
    data_set_type = "SingleTable",
    save_every=10
):
    data_repo = RemoteRepo(repo_name)
    data_repo.checkout(repo_branch)
    data_repo.download(repo_file)

    out_file = f"{version}.parquet"
    full_path = os.path.join("results", out_file)
    os.makedirs(os.path.dirname(full_path), exist_ok=True)
    print(f"Saving results to {full_path}")

    if data_repo.file_exists(full_path):
        print(f"Downloading {full_path}")
        data_repo.download(full_path, revision=repo_branch)
        df = pd.read_parquet(full_path)
    else:
        df = pd.read_parquet(repo_file)
        # Initialize the prediction column with None values
        df['prediction'] = None
        df['raw_prompt'] = None

    # Track when we last committed
    last_commit = 0

    for idx, row in df.iterrows():
        data = {
            'query': row['full_question'] if data_set_type == "BIRD" else row['query'],
            'schema': row['schema']
        }
        print(f"Row {idx}: {data}")

        prediction = df.at[idx, 'prediction']
        if prediction is not None and prediction != "":
            print(f"Already got prediction for idx {idx}")
            continue

        # Make prediction and store directly in the dataframe
        raw_prompt, prediction = predict(tokenizer, model, data)
        print(f"Prediction: {prediction}")
        ground_truth = row['SQL'] if data_set_type == "BIRD" else row['sql']
        print(f"Ground Tru: {ground_truth}")
        print("="*80)
        df.at[idx, 'prediction'] = prediction
        df.at[idx, 'raw_prompt'] = raw_prompt

        # Commit every N rows
        if (idx + 1) % save_every == 0:
            print(f"Saving checkpoint at row {idx + 1}")
            df.to_parquet(full_path)
            data_repo.add(full_path, dst="results")
            data_repo.commit(f"Adding {idx} results for {version}")
            last_commit = idx + 1

    # Final save for any remaining rows
    if len(df) > last_commit:
        print(f"Final save with {len(df) - last_commit} additional rows")
        df.to_parquet(full_path)
        data_repo.add(full_path, dst="results")
        data_repo.commit(f"Adding all results for {version}")

    print("Prediction process complete!")

In [ ]:
version = "Qwen3-0.6B-Single-Table-Predictions"
data_repo_name = "ZiDuck/text2sql" # Repository name on OxenAI
data_repo_branch = "main"
data_repo_file = "dataset/parquet_format/single-table_dev.parquet"
save_every = 10


# Run the full evaluation
evaluate(
    model,
    tokenizer,
    version if version != "" else base_model,
    data_repo_name,
    data_repo_branch,
    data_repo_file,
    predictBIRD if dataset_type == "BIRD" else predictSingleTable,
    dataset_type,
    save_every=save_every
)

Saving results to results/Qwen3-0.6B-Single-Table-Predictions.parquet
Row 0: {'query': 'In season is 2008 09, how many wins did they have?', 'schema': 'CREATE TABLE df ("Season" text, "GP" real, "W (OT/SO)" text, "L (OT/SO)" text, "Pts" real, "Pts/GP" text, "GF – GA" text, "Rank (league/conference)" text, "Top Scorer" text)'}
Prediction: SELECT COUNT(*) FROM df WHERE "Season" = '2008 09';
Ground Tru: SELECT "W (OT/SO)" FROM df WHERE "Season" = '2008–09'
================================================================================
Row 1: {'query': 'find me all the rows where category != prediction', 'schema': 'CREATE TABLE df (text VARCHAR, category VARCHAR, prediction VARCHAR);'}
Prediction: CREATE TABLE df (text VARCHAR, category VARCHAR, prediction VARCHAR);
SELECT * FROM df WHERE category != prediction;
Ground Tru:
SELECT * FROM df WHERE category != prediction;

================================================================================
Row 2: {'query': 'What are the investors of entrepreneurs and the corresponding number of entrepreneurs invested by each investor. Visualize by pie chart.', 'schema': 'CREATE TABLE df (Entrepreneur_ID int, People_ID int, Company text, Money_Requested real, Investor text)'}
Prediction: CREATE TABLE df (Entrepreneur_ID int, People_ID int, Company text, Money_Requested real, Investor text);

SELECT Investor, COUNT(Entrepreneur_ID) AS Number_of_Entrepreneurs
FROM df
GROUP BY Investor
PLOT pie chart Investor Number_of_Entrepreneurs;
Ground Tru: SELECT Investor, COUNT(*) FROM df GROUP BY Investor
================================================================================
Row 3: {'query': 'What nurses are on call with block floor 1 and block code 1? Tell me their names.', 'schema': 'CREATE TABLE df (nurse VARCHAR, blockfloor VARCHAR, blockcode VARCHAR)'}
Prediction: SELECT nurse FROM df WHERE blockfloor = '1' AND blockcode = '1';
Ground Tru: SELECT nurse FROM df WHERE blockfloor = 1 AND blockcode = 1
================================================================================
Row 4: {'query': 'For each state, when was the last time the average score data was collected?', 'schema': 'CREATE TABLE ndecoreexcel_math_grade8 (year number, state text, all_students text, average_scale_score number)'}
Prediction: SELECT state, MAX(year) AS last_collection_year FROM ndecoreexcel_math_grade8 GROUP BY state;
Ground Tru: SELECT state, MAX(year) FROM df GROUP BY state
================================================================================
Row 5: {'query': 'What is the try bonus when there were 58 points?', 'schema': 'CREATE TABLE df ("Club" text, "Played" text, "Drawn" text, "Lost" text, "Points for" text, "Points against" text, "Tries for" text, "Tries against" text, "Try bonus" text, "Losing bonus" text, "Points" text)'}
Prediction: SELECT "Try bonus" FROM df WHERE "Points for" = '58';
Ground Tru: SELECT "Try bonus" FROM df WHERE "Points" = '58'
================================================================================
Row 6: {'query': 'Name the memory for meodel number for atom e640t', 'schema': 'CREATE TABLE df ("Model number" text, "sSpec number" text, "Frequency" text, "GPU frequency" text, "L2 cache" text, "I/O bus" text, "Memory" text, "Voltage" text, "TDP" text, "Socket" text, "Release date" text, "Part number(s)" text, "Release price ( USD )" text)'}
Prediction: CREATE TABLE df ("Model number" text, "sSpec number" text, "Frequency" text, "GPU frequency" text, "L2 cache" text, "I/O bus" text, "Memory" text, "Voltage" text, "TDP" text, "Socket" text, "Release date" text, "Part number(s)" text, "Release price ( USD )" text) AS SELECT "Memory" FROM df WHERE "Model number" = 'atom e640t';
Ground Tru: SELECT "Memory" FROM df WHERE "Model number" = 'Atom E640T'
================================================================================
Row 7: {'query': 'In the county where Bush won 77.76%, how many total votes were cast?', 'schema': 'CREATE TABLE df (total__number VARCHAR, bush__percentage VARCHAR)'}
Prediction: CREATE TABLE df (total__number VARCHAR, bush__percentage VARCHAR)
SELECT COUNT(*) FROM df
WHERE bush__percentage = '77.76%';
Ground Tru: SELECT total__number FROM df WHERE bush__percentage = "77.76%"
================================================================================
Row 8: {'query': 'who was the only opponent to be scored against with an assist from wambach ?', 'schema': 'CREATE TABLE df (id number, "goal" number, "date" text, "location" text, "opponent" text, "lineup" text, "min" number, "assist/pass" text, "score" text, "result" text, "competition" text)'}
Prediction: CREATE TABLE df (id number, "goal" number, "date" text, "location" text, "opponent" text, "lineup" text, "min" number, "assist/pass" text, "score" text, "result" text, "competition" text)
Ground Tru: SELECT "opponent" FROM df WHERE "assist/pass" = 'wambach'
================================================================================
Row 9: {'query': 'Who played Mixed Doubles in 1991?', 'schema': 'CREATE TABLE df ("Year" real, "Mens singles" text, "Womens singles" text, "Mens doubles" text, "Womens doubles" text, "Mixed doubles" text)'}
Prediction: SELECT * FROM df WHERE Year = 1991 AND "Mixed Doubles" = 'Mixed Doubles';
Ground Tru: SELECT "Mixed doubles" FROM df WHERE "Year" = '1991'
================================================================================
Saving checkpoint at row 10
Workspace '66979f43-b2f2-4c65-b4a2-5726be601efc' created from commit 'c6ec773dc6f55f9a49fed7fc617e863'
Row 10: {'query': 'What is the lowest Loss with Gain larger than 319 for derrick locke?', 'schema': 'CREATE TABLE df (loss INTEGER, name VARCHAR, gain VARCHAR)'}
Prediction: CREATE TABLE df (loss INTEGER, name VARCHAR, gain VARCHAR);

SELECT MIN(loss) FROM df WHERE name = 'derrick locke' AND gain > 319;
Ground Tru: SELECT MIN(loss) FROM df WHERE name = "derrick locke" AND gain > 319
================================================================================
Row 11: {'query': 'What is the total average for the England team when the wickets are less than 18, the best bowling is 4/138, and there are less than 3 matches?', 'schema': 'CREATE TABLE df ("Player" text, "Team" text, "Matches" real, "Wickets" real, "Average" real, "Best Bowling" text)'}
Prediction: SELECT AVG("Average") AS "Total Average" FROM df WHERE "Team" = 'England' AND "Wickets" < 18 AND "Best Bowling" = '4/138' AND "Matches" < 3;
Ground Tru: SELECT COUNT("Average") FROM df WHERE "Team" = 'england' AND "Wickets" < '18' AND "Best Bowling" = '4/138' AND "Matches" < '3'
================================================================================
Row 12: {'query': 'which division were they in the most ?', 'schema': 'CREATE TABLE df (id number, "season" text, "tier" number, "division" text, "place" text)'}
Prediction: SELECT "division" FROM df ORDER BY "place" DESC;
Ground Tru: SELECT "division" FROM df GROUP BY "division" ORDER BY COUNT(*) DESC LIMIT 1
================================================================================
Row 13: {'query': 'What is the latitude of the point with a longitude of 147.1w?', 'schema': 'CREATE TABLE df ("Name" text, "Latitude" text, "Longitude" text, "Diameter" real, "Year named" real)'}
Prediction: CREATE TABLE df ("Name" text, "Latitude" text, "Longitude" text, "Diameter" real, "Year named" real) AS SELECT "Latitude" FROM df WHERE "Longitude" = '147.1w';
Ground Tru: SELECT "Latitude" FROM df WHERE "Longitude" = '147.1w'
================================================================================
Row 14: {'query': 'What is the margin of victory for PGA Championship?', 'schema': 'CREATE TABLE df (margin_of_victory VARCHAR, tournament VARCHAR)'}
Prediction: CREATE TABLE df (margin_of_victory VARCHAR, tournament VARCHAR)
Ground Tru: SELECT margin_of_victory FROM df WHERE tournament = "pga championship"
================================================================================
Row 15: {'query': 'Which located featured the first prize of 33500?', 'schema': 'CREATE TABLE df ("Date" text, "Tournament" text, "Location" text, "Purse( $ )" real, "Winner" text, "Score" text, "1st Prize( $ )" real)'}
Prediction: CREATE TABLE df ("Date" text, "Tournament" text, "Location" text, "Purse( $ )" real, "Winner" text, "Score" text, "1st Prize( $ )" real);

SELECT "Location" FROM df WHERE "Purse( $ )" = 33500 AND "1st Prize( $ )" = 33500;
Ground Tru: SELECT "Location" FROM df WHERE "1st Prize( $ )" = '33500'
================================================================================
Row 16: {'query': 'What are the different statement ids on accounts, and the number of accounts for each?', 'schema': 'CREATE TABLE df ( account_id number, statement_id number, account_details text )'}
Prediction: CREATE TABLE df ( account_id number, statement_id number, account_details text )
SELECT statement_id, COUNT(account_id) AS num_accounts
FROM df
GROUP BY statement_id;
Ground Tru: SELECT statement_id, COUNT(*) FROM df GROUP BY statement_id
================================================================================
Row 17: {'query': 'who won the south after esc geretsried did during the 2006-07 season ?', 'schema': 'CREATE TABLE df (id number, "season" text, "north" text, "south" text, "east" text, "west" text)'}
Prediction: CREATE TABLE df (id number, "season" text, "north" text, "south" text, "east" text, "west" text);
Ground Tru: SELECT "south" FROM df WHERE id = (SELECT id FROM df WHERE "south" = 'esc geretsried') + 1
================================================================================
Row 18: {'query': 'What is the total number of Losses, when Last Appearance is 2003, and when Wins is greater than 2?', 'schema': 'CREATE TABLE df (losses VARCHAR, last_appearance VARCHAR, wins VARCHAR)'}
Prediction: SELECT COUNT(*) FROM df WHERE losses = '' AND last_appearance = '2003' AND wins > 2;
Ground Tru: SELECT COUNT(losses) FROM df WHERE last_appearance = "2003" AND wins > 2
================================================================================
Row 19: {'query': 'Tell me the circuit for 10 may for targa florio', 'schema': 'CREATE TABLE df (circuit VARCHAR, date VARCHAR, name VARCHAR)'}
Prediction: CREATE TABLE df (circuit VARCHAR, date VARCHAR, name VARCHAR)
SELECT circuit FROM df WHERE date = '10 May' AND name = 'Targa Florio';
Ground Tru: SELECT circuit FROM df WHERE date = "10 may" AND name = "targa florio"
================================================================================
Saving checkpoint at row 20
Workspace 'c7c1dcc1-43d1-4df7-b409-ad2be55953a6' created from commit 'c1e6e96b5038698690cdeea0c926373f'
Row 20: {'query': 'Questions and Accepted Answer: Search the set.', 'schema': 'CREATE TABLE PostNotices (Id number, PostId number, PostNoticeTypeId number, CreationDate time, DeletionDate time, ExpiryDate time, Body text, OwnerUserId number, DeletionUserId number)'}
Prediction: CREATE TABLE PostNotices;
Ground Tru: SELECT p1.Id AS "post_link", p1.*, p2.Id AS "post_link", p2.Id AS "post_link", p2.Score AS "p2Score", p2.Body AS "p2Body", p2.OwnerUserId AS "p2UserId", p2.OwnerDisplayName AS "p2OwnerDisplayName", p2.CommentCount AS "p2CommentCount" FROM df AS p1, df AS p2 WHERE p1.ParentId IS NULL AND NOT p1.AcceptedAnswerId IS NULL AND p1.AcceptedAnswerId = p2.Id AND (p1.Tags LIKE '%compiler-errors%' OR p1.Tags LIKE '%compiler-warnings%') AND p1.Body LIKE '%reason:%' ORDER BY p1.Score DESC
================================================================================
Row 21: {'query': 'What was the date of the game when Atlanta was the home team?', 'schema': 'CREATE TABLE df ("Date" text, "Visitor" text, "Score" text, "Home" text, "Decision" text, "Attendance" real, "Record" text)'}
Prediction: CREATE TABLE df ("Date" text, "Visitor" text, "Score" text, "Home" text, "Decision" text, "Attendance" real, "Record" text);
Ground Tru: SELECT "Date" FROM df WHERE "Home" = 'atlanta'
================================================================================
Row 22: {'query': 'what is the average age of patients who have stayed in the hospital for 4 days with a government insurance policy?', 'schema': 'CREATE TABLE demographic (subject_id text, hadm_id text, name text, marital_status text, age text, dob text, gender text, language text, religion text, admission_type text, days_stay text, insurance text, ethnicity text, expire_flag text, admission_location text, discharge_location text, diagnosis text, dod text, dob_year text, dod_year text, admittime text, dischtime text, admityear text)'}
Prediction: SELECT AVG(age) FROM demographic WHERE days_stay = '4 days' AND insurance = 'government insurance';
Ground Tru: SELECT AVG(df.age) FROM df WHERE df.insurance = "Government" AND df.days_stay = "4"
================================================================================
Row 23: {'query': 'What is the Date with a Leading scorer with maurice williams (25), and a Score with 102 105?', 'schema': 'CREATE TABLE df ("Date" text, "Visitor" text, "Score" text, "Home" text, "Leading scorer" text, "Record" text)'}
Prediction: CREATE TABLE df ("Date" text, "Visitor" text, "Score" text, "Home" text, "Leading scorer" text, "Record" text) AS SELECT * FROM df WHERE "Leading scorer" = 'maurice williams' AND "Score" = '102 105';
Ground Tru: SELECT "Date" FROM df WHERE "Leading scorer" = 'maurice williams (25)' AND "Score" = '102–105'
================================================================================
Row 24: {'query': 'What Call sign has a City of license of higgston, ga?', 'schema': 'CREATE TABLE df (call_sign VARCHAR, city_of_license VARCHAR)'}
Prediction: CREATE TABLE df (call_sign VARCHAR, city_of_license VARCHAR)
SELECT call_sign
FROM df
WHERE city_of_license = 'higgston, ga';
Ground Tru: SELECT call_sign FROM df WHERE city_of_license = "higgston, ga"
================================================================================
Row 25: {'query': 'How many people attended the game on week 3?', 'schema': 'CREATE TABLE df (attendance INTEGER, week VARCHAR)'}
Prediction: CREATE TABLE df (attendance INTEGER, week VARCHAR)
SELECT COUNT(*) FROM df WHERE week = '3';
Ground Tru: SELECT AVG(attendance) FROM df WHERE week = 3
================================================================================
Row 26: {'query': 'What is score of the game played in place t8 with Byron Nelson playing?', 'schema': 'CREATE TABLE df (score VARCHAR, place VARCHAR, player VARCHAR)'}
Prediction: SELECT score FROM df WHERE place = 't8' AND player = 'Byron Nelson';
Ground Tru: SELECT score FROM df WHERE place = "t8" AND player = "byron nelson"
================================================================================
Row 27: {'query': 'what is the flash size difference in the at90s8515 chip and the at90s4414 ?', 'schema': 'CREATE TABLE df (id number, "chip" text, "flash size" text, "eeprom" number, "sram" number, "frequency\\n[mhz]" number, "package" text)'}
Prediction: SELECT flash size - eeprom AS flash_size_difference FROM df WHERE chip = 'at90s8515' AND package = 'at90s4414';
Ground Tru: SELECT ABS((SELECT "flash size" FROM df WHERE "chip" = 'at90s8515') - (SELECT "flash size" FROM df WHERE "chip" = 'at90s4414'))
================================================================================
Row 28: {'query': 'What religion has a para of 56.5%?', 'schema': 'CREATE TABLE df ("Religion" text, "Suriname" text, "Paramaribo" text, "Wanica" text, "Nickerie" text, "Coronie" text, "Saramacca" text, "Commewijne" text, "Marowijne" text, "Para" text, "Brokopondo" text, "Sipaliwini" text)'}
Prediction: SELECT "Religion" FROM df WHERE "Para" = '56.5%';
Ground Tru: SELECT "Religion" FROM df WHERE "Para" = '56.5%'
================================================================================
Row 29: {'query': 'count the number of people who had been admitted until 1 year ago to hospital.', 'schema': 'CREATE TABLE df ( row_id number, subject_id number, hadm_id number, admittime time, dischtime time, admission_type text, admission_location text, discharge_location text, insurance text, language text, marital_status text, ethnicity text, age number )'}
Prediction: SELECT COUNT(*) FROM df WHERE admission_time < CURRENT_DATE - INTERVAL '1 year';
Ground Tru: SELECT COUNT(DISTINCT df.subject_id) FROM df WHERE DATETIME(df.admittime) <= DATETIME(CURRENT_TIME(), '-1 year')
================================================================================
Saving checkpoint at row 30
Workspace '83dc7830-375a-45e3-aede-a24fa1ebcc47' created from commit 'd2ee6b219433af021baeb89afec4b3ee'
Row 30: {'query': 'Display a bar chart for the names and the ages of editors, list by the bar from low to high.', 'schema': 'CREATE TABLE df (Editor_ID int, Name text, Age real)'}
Prediction: CREATE TABLE df (Editor_ID int, Name text, Age real);
Ground Tru: SELECT Name, Age FROM df ORDER BY Name
================================================================================
Row 31: {'query': 'StackOverflow Rank and Percentile by Tag.', 'schema': 'CREATE TABLE df (Id number, PostTypeId number, AcceptedAnswerId number, ParentId number, CreationDate time, DeletionDate time, Score number, ViewCount number, Body text, OwnerUserId number, OwnerDisplayName text, LastEditorUserId number, LastEditorDisplayName text, LastEditDate time, LastActivityDate time, Title text, Tags text, AnswerCount number, CommentCount number, FavoriteCount number, ClosedDate time, CommunityOwnedDate time, ContentLicense text)'}
Prediction: CREATE TABLE df (Id number, PostTypeId number, AcceptedAnswerId number, ParentId number, CreationDate time, DeletionDate time, Score number, ViewCount number, Body text, OwnerUserId number, OwnerDisplayName text, LastEditorUserId number, LastEditorDisplayName text, LastEditDate time, LastActivityDate time, Title text, Tags text, AnswerCount number, CommentCount number, FavoriteCount number, ClosedDate time, CommunityOwnedDate time, ContentLicense text)
Ground Tru: WITH Rankings AS (SELECT Id, Ranking = ROW_NUMBER() OVER (ORDER BY Reputation DESC) FROM Users WHERE UPPER(Users.Location) LIKE UPPER('##Country##')), Counts AS (SELECT Count = COUNT(*) FROM Users WHERE Reputation > '##ReputationCutoff##') SELECT Id, Ranking, 100 - (100 * (CAST(Ranking AS FLOAT(20, 5)) / (SELECT Count FROM Counts))) AS Percentile FROM Rankings WHERE Id = '##UserId##'
================================================================================
Row 32: {'query': 'what was the last hospital discharge time of patient 029-27704?', 'schema': 'CREATE TABLE df ( uniquepid text, patienthealthsystemstayid number, patientunitstayid number, gender text, age text, ethnicity text, hospitalid number, wardid number, admissionheight number, admissionweight number, dischargeweight number, hospitaladmittime time, hospitaladmitsource text, unitadmittime time, unitdischargetime time, hospitaldischargetime time, hospitaldischargestatus text )'}
Prediction: CREATE TABLE df ( uniquepid text, patienthealthsystemstayid number, patientunitstayid number, gender text, age text, ethnicity text, hospitalid number, wardid number, admissionheight number, admissionweight number, dischargeweight number, hospitaladmittime time, hospitaladmitsource text, unitadmittime time, unitdischargetime time, hospitaldischargetime time, hospitaldischargestatus text )
Ground Tru: SELECT df.hospitaldischargetime FROM df WHERE df.uniquepid = '029-27704' ORDER BY df.hospitaldischargetime DESC LIMIT 1
================================================================================
Row 33: {'query': "what's the total number of position with driver robby gordon", 'schema': 'CREATE TABLE df (position VARCHAR, driver VARCHAR)'}
Prediction: CREATE TABLE df (position VARCHAR, driver VARCHAR)
SELECT COUNT(*) FROM df WHERE driver = 'robby gordon';
Ground Tru: SELECT COUNT(position) FROM df WHERE driver = "Robby Gordon"

# Test the finetune model

In [ ]:
def test_prompt(tokenizer, model, text: str, max_new_tokens: int = 256):
    try:
        # Encode
        try:
            inputs = tokenizer([text], return_tensors="pt").to(model.device)
        except Exception as e:
            print(f"[Tokenizer Error] {e}")
            return None

        # Generate
        try:
            outputs = model.generate(
                **inputs,
                max_new_tokens=max_new_tokens,
                do_sample=False
            )
        except Exception as e:
            print(f"[Model Generation Error] {e}")
            return None

        # Decode
        try:
            generated_ids = outputs[0, inputs["input_ids"].shape[1]:]
            response = tokenizer.decode(generated_ids, skip_special_tokens=True)
        except Exception as e:
            print(f"[Decoding Error] {e}")
            return None

        return response

    except Exception as e:
        # Catch-all (phòng trường hợp lỗi chưa lường trước)
        print(f"[Unexpected Error] {e}")
        return None

## Single table dataset

In [ ]:
question = "In season is 2008 09, how many wins did they have?"
schema = "CREATE TABLE df (`Season` TEXT, `GP` REAL, `W (OT/SO)` TEXT, `L (OT/SO)` TEXT, `Pts` REAL, `Pts/GP` TEXT, `GF – GA` TEXT, `Rank (league/conference)` TEXT, `Top Scorer` TEXT)"
gold_sql = "SELECT `W (OT/SO)` FROM df WHERE `Season` = '2008–09'"

In [ ]:
data_test = {
    'query': question,
    'schema': schema
}

# Make prediction and store directly in the dataframe
raw_prompt, prediction = predictSingleTable(tokenizer, model, data_test)

print(f"Prediction: {prediction}")
print(f"Ground Tru: {gold_sql}")
print(f"Raw prompt: {raw_prompt}")

Prediction: SELECT "W (OT/SO)" FROM df WHERE "Season" = '2008–09'
Ground Tru: SELECT `W (OT/SO)` FROM df WHERE `Season` = '2008–09'
Raw prompt: <|im_start|>system
Write a SQL statement that is equivalent to the natural language user query below. You are given the schema in the format of a CREATE TABLE SQL statement. Assume the table is called "df". DO NOT give any preamble or extra characters or markdown just the SQL query in plain text. Make sure the SQL query is on one line.<|im_end|>
<|im_start|>user
Schema:
CREATE TABLE df (`Season` TEXT, `GP` REAL, `W (OT/SO)` TEXT, `L (OT/SO)` TEXT, `Pts` REAL, `Pts/GP` TEXT, `GF – GA` TEXT, `Rank (league/conference)` TEXT, `Top Scorer` TEXT)

User Query:
In season is 2008 09, how many wins did they have?

SQL Query:
<|im_end|>
<|im_start|>assistant
<think>

</think>

## BIRD minidev dataset

In [ ]:
question = "ratio of customers who pay in EUR against customers who pay in CZK = count(Currency = 'EUR') / count(Currency = 'CZK').What is the ratio of customers who pay in EUR against customers who pay in CZK?"
schema = """
CREATE TABLE customers (
    CustomerID integer, -- example: [3, 5]
    Segment text, -- client segment, example: ['SME', 'LAM']
    Currency text, -- example: ['CZK', 'EUR']
    PRIMARY KEY (CustomerID)
);

CREATE TABLE gasstations (
    GasStationID integer, -- example: [44, 45]
    ChainID integer, -- example: [13, 6]
    Country text, -- example: ['CZE', 'SVK']
    Segment text, -- chain segment, example: ['Value for money', 'Premium']
    PRIMARY KEY (GasStationID)
);

CREATE TABLE products (
    ProductID integer, -- example: [1, 2]
    Description text, -- example: ['Rucní zadání', 'Nafta']
    PRIMARY KEY (ProductID)
);

CREATE TABLE transactions_1k (
    TransactionID integer, -- example: [1, 2]
    `Date` date, -- example: ['2012-08-24', '2012-08-23']
    `Time` text, -- example: ['09:41:00', '10:03:00']
    CustomerID integer, -- example: [31543, 46707]
    CardID integer, -- example: [486621, 550134]
    GasStationID integer, -- example: [3704, 656]
    ProductID integer, -- example: [2, 23]
    Amount integer, -- example: [28, 18]
    Price real, -- example: [672.64, 430.72]
    PRIMARY KEY (TransactionID)
);

CREATE TABLE yearmonth (
    CustomerID integer, -- example: [39, 63]
    `Date` text, -- example: ['201112', '201201']
    Consumption real, -- example: [528.3, 1598.28]
    PRIMARY KEY (CustomerID, `Date`),
    CONSTRAINT fk_yearmonth_customerid FOREIGN KEY (CustomerID) REFERENCES customers (CustomerID)
);
"""
gold_sql = "SELECT CAST(SUM(IIF(Currency = 'EUR', 1, 0)) AS FLOAT) / SUM(IIF(Currency = 'CZK', 1, 0)) AS ratio FROM customers"

In [ ]:
data_test = {
    'query': question,
    'schema': schema
}

# Make prediction and store directly in the dataframe
raw_prompt, prediction = predictBIRD(tokenizer, model, data_test)

print(f"Prediction: {prediction}")
print(f"Ground Tru: {gold_sql}")
print(f"Raw prompt: {raw_prompt}")

Prediction: SELECT CAST(SUM(CASE WHEN T1.Currency = 'CZK' THEN 1 ELSE 0 END) AS REAL) / SUM(CASE WHEN T1.Currency = 'EUROPE' THEN 1 ELSE 0 END) FROM customers AS T1 INNER JOIN yearmonth AS T2 ON T1.CustomerID = T2.CustomerID
Ground Tru: SELECT CAST(SUM(IIF(Currency = 'EUR', 1, 0)) AS FLOAT) / SUM(IIF(Currency = 'CZK', 1, 0)) AS ratio FROM customers
Raw prompt: <|im_start|>system
Task Overview:
You are a data science expert. Below, you are provided with a database schema and a natural language question. Your task is to understand the schema and generate a valid SQL query to answer the question.

Database Engine:
SQLite<|im_end|>
<|im_start|>user
Database Schema:

CREATE TABLE customers (
    CustomerID integer, -- example: [3, 5]
    Segment text, -- client segment, example: ['SME', 'LAM']
    Currency text, -- example: ['CZK', 'EUR']
    PRIMARY KEY (CustomerID)
);

CREATE TABLE gasstations (
    GasStationID integer, -- example: [44, 45]
    ChainID integer, -- example: [13, 6]
    Country text, -- example: ['CZE', 'SVK']
    Segment text, -- chain segment, example: ['Value for money', 'Premium']
    PRIMARY KEY (GasStationID)
);

CREATE TABLE products (
    ProductID integer, -- example: [1, 2]
    Description text, -- example: ['Rucní zadání', 'Nafta']
    PRIMARY KEY (ProductID)
);

CREATE TABLE transactions_1k (
    TransactionID integer, -- example: [1, 2]
    `Date` date, -- example: ['2012-08-24', '2012-08-23']
    `Time` text, -- example: ['09:41:00', '10:03:00']
    CustomerID integer, -- example: [31543, 46707]
    CardID integer, -- example: [486621, 550134]
    GasStationID integer, -- example: [3704, 656]
    ProductID integer, -- example: [2, 23]
    Amount integer, -- example: [28, 18]
    Price real, -- example: [672.64, 430.72]
    PRIMARY KEY (TransactionID)
);

CREATE TABLE yearmonth (
    CustomerID integer, -- example: [39, 63]
    `Date` text, -- example: ['201112', '201201']
    Consumption real, -- example: [528.3, 1598.28]
    PRIMARY KEY (CustomerID, `Date`),
    CONSTRAINT fk_yearmonth_customerid FOREIGN KEY (CustomerID) REFERENCES customers (CustomerID)
);

This schema describes the database's structure, including tables, columns, primary keys, foreign keys, and any relevant relationships or constraints.

Question:
ratio of customers who pay in EUR against customers who pay in CZK = count(Currency = 'EUR') / count(Currency = 'CZK').What is the ratio of customers who pay in EUR against customers who pay in CZK?

Instructions:
- Make sure you only output the information that is asked in the question. If the question asks for a specific column, make sure to only include that column in the SELECT clause, nothing more.
- Do NOT hallucinate: only use tables, columns, and values that exist in the provided schema.
- The generated query should return all of the information asked in the question without any missing or extra information.
- Before generating the final SQL query, please think through the steps of how to write the query.
- Keep the SQL minimal: no extra joins, filters, grouping, ordering, or aliases unless required.
- DO NOT give any preamble or extra characters or markdown, just the SQL query in plain text on a single line with no line breaks or indentation. DO NOT use any code fences or the substring ```sql in the output.
- Take a deep breath and think step by step to find the correct SQL query.

SQL Query:<|im_end|>
<|im_start|>assistant